#scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  & > p {
    opacity: 0.6;
    @include font-size(12px)
  }
}

#arrow-down {
  margin-bottom: 5px;
}

#arrow-up {
  margin-top: 5px;
}