#project-slider {
  height: 80px;
  width: 70%;
  top: 120px;
  display: flex;
  align-items: center;
  position: absolute;
}

#thumbnail {
  height: 60px;
  width: 50px;
  z-index: 3;
  display: flex;
  position: absolute;
  left: 17px;

  &:hover { cursor: pointer; }

  #separator {
    position: absolute;
    width: 2px;
  }

  & > p {
    @include font-size(18px);
    font-family: 'Maven Pro', Helvetica, sans-serif;
    font-feature-settings: "liga" 0;
    position: absolute;
    z-index: 1;

    &:first-child {
      top: 0px;
      left: 0px;
    }

    &:last-child {
      top: 30px;
      left: 30px;
    }
  }
}

.chevron {
  position: absolute;
}

#placeholder-slider {
  width: 80px;
  height: 1px;
}

.scroll-bar {
  color: inherit;
  background-color: inherit;
  height: 1px;
  opacity: 0.8;
  width: 100%;
  z-index: 1;

  &#top {
    width: 0%;
    margin-right: 6px;
  }
}