#project-descriptions {
  position: absolute;
  width: 800px;
  bottom: 10%;
  height: 100px;
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
  }

  & > div:nth-child(2) {
    flex: 1;
  }

  & p {
    font-family: 'Maven Pro', serif;
    font-feature-settings: "liga" 0;
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(12px);
    font-stretch: 100%;
    opacity: 0.7;
    color: inherit;
    text-align: center;
    flex: 1;
  }
}

#additional-data {
  display: flex;

  & > div {
    flex: 1;
  }
}

#explore {
  display: flex;
  justify-content: center;
  height: fit-content;

  & #learn-more {
    text-decoration: underline;
  }
  
  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
    
    &:hover { 
      opacity: 1;
      cursor: pointer;
    }

    & > p {
      margin-bottom: 5px;
    }
  }
}