.link {
  text-orientation: sideways;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  opacity: 0.6;
  font-size: (14px);
  letter-spacing: 1px;
  margin: 0px 10px;
}

.link:hover {
  cursor: pointer;
}

#introduction {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  align-items: center;
  
  & > div:first-child {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

a:active {
  outline: 0;
}

#introduction p, #introduction a {
  text-decoration: none;
  outline: 0;
  color: white;
  font-family: 'Harmond', sans-serif;
  text-align: left;
  color: #FFF;

  &:hover { cursor: pointer; }
  
  &#name {
    @include font-size(100px);
  }

  &:nth-child(3) {
    text-align: center;
  }

  &:nth-child(2) {
    text-align: right;
  }
  
  &#role {
    @include font-size(16px);
    font-weight: lighter;
    letter-spacing: 1px;
  }
  
}