#projects {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects > p {
  transition: color 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  #projects {
    width: 400px;
    
  }
}

#project-title {
  font-family: 'TFY', serif;
  @include font-size(180px);
  letter-spacing: 2rem;
  // width: 400px;
  text-align: left;
  position: absolute;
}