#projects {
  width: 1150px;
  height: 400px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #projects {
    width: 400px;
    
  }
}

#projectTitle {
  font-family: 'Frauces', serif;
  font-weight: 700;
  @include font-size(60px);
  width: 400px;
  text-align: left;
}