@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Open+Sans&family=Maven+Pro&display=swap');

@font-face {
  font-family: 'Redig';
  src: url('/fonts/Redig.woff2') format('woff2');
  font-display: swap;
}